Order Deny,Allow
Deny from all
Allow from 172.30.
Allow from 10.10.1.
Allow from .smp
Allow from .smp.oren
RewriteRule ^/.htaccess$ - [G]
Options -Indexes

Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

RewriteCond %{REQUEST_URI} !^/(egiz/web)
RewriteRule (.*) /egiz/web/$1
 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /egiz/web/index.php
